<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

        <title>MP Event</title>

        <style>
            .card{
                display: inline;
                float: left;
                margin: 5px 0px 0px 7px;
                min-height: 170px;
            }
            .button-top{
                margin: 40px 0px 20px 0px;
            }
            
            .material-icons.buttonadd { 
                font-size: 18px;
                position: relative;
                top: 3px;
            }

            .hour-minute{
                width: 100%;
                overflow: hidden;
            }

            .hour-minute select{
                width: 90px;
                display:inline;
                float: left;
            }

            .hour-minute span{
                margin: 5px 10px 5px 10px;
                display:inline;
                float: left;
            }
        </style>

    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand text-white ml-5" href="#">MP-Event</a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="speakers.html">Speakers</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="index.html">Subjects<span class="sr-only">(current)</span></a>
                      </li>
                     
                    </ul>
                    
                  </div>
            </nav>
        </header>

        <div id="app-speaker" class="container mt-5">

            <h2 class="font-weight-bold">Speakers</h2>

            <div class="button-top">
               <button type="button" class="btn btn-primary" v-on:click='loadNewSpeaker()' data-toggle="modal" data-target="#app-new-speaker" ><i class="material-icons buttonadd">add</i> New Speaker</button>
            </div>
          <div v-for="speaker in speakers" class="card" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{speaker.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text"><span class="font-weight-bold" >Description: </span>{{speaker.description}}</p>
                </div>
            </div>
        </div>

        <div id="app-new-speaker" class="modal" tabindex="-1" role="dialog" id="addSubjectModal" >
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">New Speaker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form @submit="save" method="post" >
                        <div class="alert alert-danger" role="alert" v-if="form.erro">
                            <p v-for="mensagemErro in form.mensagemErros" >{{mensagemErro}}</p>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" v-model="form.name" name="name" aria-describedby="nameHelp" placeholder="Enter the name">
                        </div>
                        <div class="form-group">
                            <label for="assunto">Description</label>
                            <textarea class="form-control" id="description" name="description" v-model="form.description"  rows="5" ></textarea>
                        </div>
                       

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click='save()' >Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click='cleanForm()'>Close</button>
                  </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="app-web.js"></script>
        <script src="app-speaker.js"></script>
    </body>
</html>